Repository opensearch-project/documentation-website, pull requests merged in 2023-04, with the labels that each got.

#3234 Add Mutate event processor doc.
  _data-prepper/pipelines/configuration/processors/mutate-event.md
Labels: backport 2.0, backport 2.1, backport 2.2, backport 2.3, data-prepper, backport 2.4, backport 2.5, backport 2.6

#3649 Adding documentation for behavior of indices.recovery.max_bytes_per_sec set to `0mb` or less
  _api-reference/cluster-api/cluster-settings.md
Labels: backport 1.3, backport 2.5, backport 2.6

#3184 Add Security information to Security Analytics documentation
  _api-reference/snapshots/create-repository.md
  _api-reference/snapshots/restore-snapshot.md
  _security-analytics/security.md
  _security/access-control/api.md
  _security/access-control/permissions.md
  _security/access-control/users-roles.md
  _troubleshoot/security-admin.md
  _upgrade-to/upgrade-to.md
Labels: 4 - Doc Review, backport 2.4, backport 2.5, backport 2.6, security-analytics

#3645 Add path to the script for the securityadmin.sh troubleshooting topic
  _security/configuration/security-admin.md
  _troubleshoot/security-admin.md
Labels: backport 1.3, backport 2.0, security, 4 - Doc Review, backport 2.1, backport 2.2, backport 2.3, backport 2.4, backport 2.5, backport 2.6

#3237 Add Parse JSON processor doc.
  _data-prepper/pipelines/configuration/processors/parse-json.md
Labels: backport 2.0, backport 2.1, backport 2.2, backport 2.3, data-prepper, backport 2.4, backport 2.5, backport 2.6

#3647 Fixing brand and trademark links
  _data/footer.yml
Labels: backport 1.3, backport 2.5, backport 2.6

#3698 Remove dynamic templates from a mapping example
  _field-types/mappings.md
Labels: backport 1.3, backport 2.0, backport 2.1, backport 2.2, backport 2.3, backport 2.4, backport 2.5, backport 2.6

#3462 Add documentation for Searchable Snapshots GA release
  _tuning-your-cluster/availability-and-recovery/snapshots/searchable_snapshot.md
Labels: 4 - Doc Review, snapshots, release-notes, v2.7.0

#3238 Add Trace peer forwarder doc.
  _data-prepper/pipelines/configuration/processors/trace-peer-forwarder.md
Labels: backport 2.0, backport 2.1, backport 2.2, backport 2.3, data-prepper, backport 2.4, backport 2.5, backport 2.6

#3753 Update java client version
  _clients/java.md
Labels: backport 1.3, backport 2.0, backport 2.1, backport 2.2, backport 2.3, backport 2.4, backport 2.5, backport 2.6

#3456 Add config parameters for traced models
  _ml-commons-plugin/model-serving-framework.md
Labels: 4 - Doc Review, backport 2.5, backport 2.6

#3759 Modify link checker to run once a week and not to run in forks
  .github/workflows/link-checker.yml
Labels: backport 1.3, backport 2.0, backport 2.1, backport 2.2, backport 2.3, backport 2.4, backport 2.5, backport 2.6

#3783 Add additonal Snapshot Restore redirect
  _tuning-your-cluster/availability-and-recovery/snapshots/snapshot-restore.md
Labels: backport 2.6

#3732 Add maximum allowed monitor number.
  _observing-your-data/alerting/monitors.md
Labels: observability

#3461 Add documentation for segment replication GA release
  _tuning-your-cluster/availability-and-recovery/segment-replication/backpressure.md
  _tuning-your-cluster/availability-and-recovery/segment-replication/configuration.md
  _tuning-your-cluster/availability-and-recovery/segment-replication/index.md
Labels: 6 - Done but waiting to merge, performance, release-notes, v2.7.0

#3640 Add filtering data in maps doc.
  _dashboards/visualize/maps.md
  _dashboards/visualize/maptiles.md
  _dashboards/visualize/selfhost-maps-server.md
  images/maps/draw-shape.png
  images/maps/label.png
Labels: visualizations

#3458 Add documentation for wait_for_completion API
  _api-reference/index-apis/clone.md
  _api-reference/index-apis/open-index.md
  _api-reference/index-apis/shrink-index.md
  _api-reference/index-apis/split.md
  _im-plugin/ism/policies.md
Labels: API, index-management, release-notes, v2.7.0

#3569 Add Anomaly detector plugin doc.
  _data-prepper/pipelines/configuration/processors/anomaly-detector.md
Labels: backport 2.0, backport 2.1, backport 2.2, backport 2.3, data-prepper, backport 2.4, backport 2.5, backport 2.6

#3811 Add E2E acknowledgements
  _data-prepper/pipelines/configuration/sources/s3.md
  _data-prepper/pipelines/pipelines.md
Labels: 5 - Final Editorial Review, backport 2.5, backport 2.6

#3809 Add opensearch sink security
  _data-prepper/pipelines/configuration/sinks/opensearch.md
Labels: backport 2.5, backport 2.6

#3806 Add list to map processor
  _data-prepper/pipelines/configuration/processors/add-entries.md
  _data-prepper/pipelines/configuration/processors/aggregate.md
  _data-prepper/pipelines/configuration/processors/convert_entry_type.md
  _data-prepper/pipelines/configuration/processors/copy-values.md
  _data-prepper/pipelines/configuration/processors/csv.md
  _data-prepper/pipelines/configuration/processors/date.md
  _data-prepper/pipelines/configuration/processors/delete-entries.md
  _data-prepper/pipelines/configuration/processors/drop-events.md
  _data-prepper/pipelines/configuration/processors/grok.md
  _data-prepper/pipelines/configuration/processors/key-value.md
  _data-prepper/pipelines/configuration/processors/list-to-map.md
  _data-prepper/pipelines/configuration/processors/lowercase-string.md
  _data-prepper/pipelines/configuration/processors/mutate-event.md
  _data-prepper/pipelines/configuration/processors/mutate-string.md
  _data-prepper/pipelines/configuration/processors/otel-trace-raw.md
  _data-prepper/pipelines/configuration/processors/parse-json.md
  _data-prepper/pipelines/configuration/processors/rename-keys.md
  _data-prepper/pipelines/configuration/processors/routes.md
  _data-prepper/pipelines/configuration/processors/service-map-stateful.md
  _data-prepper/pipelines/configuration/processors/sinks.md
  _data-prepper/pipelines/configuration/processors/split-string.md
  _data-prepper/pipelines/configuration/processors/string-converter.md
  _data-prepper/pipelines/configuration/processors/substitute-string.md
  _data-prepper/pipelines/configuration/processors/trace-peer-forwarder.md
  _data-prepper/pipelines/configuration/processors/trim-string.md
  _data-prepper/pipelines/configuration/processors/uppercase-string.md
Labels: data-prepper

#3694 Add documentation for dynamic configuration of tenancy in Dashboards
  _security/multi-tenancy/dynamic-config.md
  _security/multi-tenancy/mt-agg-view.md
  _security/multi-tenancy/multi-tenancy-config.md
  _security/multi-tenancy/tenant-index.md
Labels: dashboards, API, security, release-notes, v2.7.0

#3836 Content updates for segrep - benchmarking and recommended settings
  _tuning-your-cluster/availability-and-recovery/segment-replication/backpressure.md
  _tuning-your-cluster/availability-and-recovery/segment-replication/index.md
Labels: performance, 4 - Doc Review, v2.7.0, Sev2

#3807 Add new settings for SAML and OIDC that allow for cookie splitting
  _security/authentication-backends/openid-connect.md
  _security/authentication-backends/saml.md
Labels: backport 2.0, security, backport 2.1, backport 2.2, backport 2.3, backport 2.4, v2.7.0, backport 2.5, backport 2.6

#3105 Add examples to Key value page
  _data-prepper/pipelines/configuration/processors/key-value.md
Labels: backport 2.0, backport 2.1, backport 2.2, backport 2.3, data-prepper, backport 2.4, backport 2.5, backport 2.6

#3813 Updates the Data Prepper S3 source documentation
  _data-prepper/pipelines/configuration/sources/s3.md
Labels: backport 2.5, backport 2.6

#3653 [DOC] Add multidata source Dev Tools integration
  _dashboards/dev-tools/index-dev.md
  _dashboards/dev-tools/run-queries.md
  _dashboards/discover/multi-data-sources.md
  _dashboards/run-queries.md
  images/dashboards/dev-tools-console.png
Labels: dashboards, 6 - Done but waiting to merge, v2.7.0, Sev2

#3235 Add OTel metrics raw processor doc to doc website.
  _data-prepper/pipelines/configuration/processors/otel-metrics.md
Labels: backport 2.0, 4 - Doc Review, backport 2.1, backport 2.2, backport 2.3, data-prepper, backport 2.4, backport 2.5, backport 2.6

#3608 Add OTel logs source doc to doc website.
  _data-prepper/pipelines/configuration/sources/otel-logs-source.md
Labels: backport 2.0, 4 - Doc Review, backport 2.1, backport 2.2, backport 2.3, data-prepper, backport 2.4, backport 2.5, backport 2.6

#3236 Add OTel trace group processor to doc website.
  _data-prepper/pipelines/configuration/processors/otel-trace-group.md
Labels: backport 2.0, 4 - Doc Review, backport 2.1, backport 2.2, backport 2.3, data-prepper, backport 2.5, backport 2.6

#3743 Add DLQ to OpenSearch sink configuration options.
  _data-prepper/pipelines/configuration/sinks/opensearch.md
Labels: data-prepper, backport 2.5, backport 2.6

#3890 Fixes merger conflicts for the 2.1 branch in cookie splitting PR #3807
  _security/authentication-backends/openid-connect.md
  _security/authentication-backends/saml.md
Labels: backport 2.1

#3877 Add metrics correlation algorithm
  _ml-commons-plugin/algorithms.md
Labels: release-notes, v2.7.0, experimental

#3880 Add DLQ and aggregate processor edits. Baseline processor names
  _data-prepper/pipelines/configuration/processors/add-entries.md
  _data-prepper/pipelines/configuration/processors/aggregate.md
  _data-prepper/pipelines/configuration/processors/anomaly-detector.md
  _data-prepper/pipelines/configuration/processors/convert_entry_type.md
  _data-prepper/pipelines/configuration/processors/copy-values.md
  _data-prepper/pipelines/configuration/processors/csv.md
  _data-prepper/pipelines/configuration/processors/date.md
  _data-prepper/pipelines/configuration/processors/delete-entries.md
  _data-prepper/pipelines/configuration/processors/drop-events.md
  _data-prepper/pipelines/configuration/processors/key-value.md
  _data-prepper/pipelines/configuration/processors/list-to-map.md
  _data-prepper/pipelines/configuration/processors/lowercase-string.md
  _data-prepper/pipelines/configuration/processors/otel-metrics.md
  _data-prepper/pipelines/configuration/processors/otel-trace-group.md
  _data-prepper/pipelines/configuration/processors/otel-trace-raw.md
  _data-prepper/pipelines/configuration/processors/parse-json.md
  _data-prepper/pipelines/configuration/processors/rename-keys.md
  _data-prepper/pipelines/configuration/processors/routes.md
  _data-prepper/pipelines/configuration/processors/service-map-stateful.md
  _data-prepper/pipelines/configuration/processors/split-string.md
  _data-prepper/pipelines/configuration/processors/string-converter.md
  _data-prepper/pipelines/configuration/processors/substitute-string.md
  _data-prepper/pipelines/configuration/processors/trace-peer-forwarder.md
  _data-prepper/pipelines/configuration/processors/trim-string.md
  _data-prepper/pipelines/configuration/processors/uppercase-string.md
  _data-prepper/pipelines/configuration/sinks/opensearch.md
  _data-prepper/pipelines/dlq.md
Labels: 4 - Doc Review, backport 2.5, backport 2.6
