Repository opensearch-project/documentation-website, pull requests merged in 2024-12, with the labels that each got.

#8162 Add lowercase token filter docs
  _analyzers/token-filters/index.md
  _analyzers/token-filters/lowercase.md
Labels: 5 - Editorial review, Content gap, analyzers, backport 2.18

#8159 Add limit token filter docs
  _analyzers/token-filters/index.md
  _analyzers/token-filters/limit.md
Labels: 5 - Editorial review, Content gap, analyzers, backport 2.18

#8395 Add reverse token filter docs #8274
  _analyzers/token-filters/index.md
  _analyzers/token-filters/reverse.md
Labels: 5 - Editorial review, Content gap, analyzers, backport 2.18

#8832 Fix typos related to the ML connector
  _ml-commons-plugin/remote-models/connectors.md
Labels: backport 2.12, backport 2.13, backport 2.14, backport 2.15, backport 2.16, backport 2.17, backport 2.18

#8398 Add shingle token filter docs
  _analyzers/token-filters/index.md
  _analyzers/token-filters/shingle.md
Labels: 5 - Editorial review, Content gap, analyzers, backport 2.18

#8798 Add instructions for deploying migration assistant.
  _migrations/deploying-migration-assistant/configuration-options.md
  _migrations/deploying-migration-assistant/iam-and-security-groups-for-existing-clusters.md
  _migrations/deploying-migration-assistant/index.md
Labels: 5 - Editorial review, migration, backport 2.18

#8399 Add snowball token filter docs #8276
  _analyzers/token-filters/index.md
  _analyzers/token-filters/snowball.md
Labels: 5 - Editorial review, Content gap, analyzers, backport 2.18

#8455 Adding stemmer override token filter docs
  _analyzers/token-filters/index.md
  _analyzers/token-filters/stemmer-override.md
Labels: 5 - Editorial review, analyzers, backport 2.18

#8847 Resolve merge conflicts
  _analyzers/token-filters/index.md
  _analyzers/token-filters/stemmer-override.md
Labels: backport-automerge

#8456 add stop token filter docs #8446
  _analyzers/token-filters/index.md
  _analyzers/token-filters/stop.md
Labels: 5 - Editorial review, analyzers, backport 2.17, backport 2.18

#8461 add trim token filter docs #8449
  _analyzers/token-filters/index.md
  _analyzers/token-filters/trim.md
Labels: 5 - Editorial review, analyzers, backport 2.17, backport 2.18

#8852 Correct L1 norm definition in k-NN docs
  _search-plugins/knn/painless-functions.md
Labels: backport 2.18

#8464 add uppercase token filter docs #8452
  _analyzers/token-filters/index.md
  _analyzers/token-filters/uppercase.md
Labels: 5 - Editorial review, analyzers, backport 2.17, backport 2.18

#8462 add truncate token filter docs #8450
  _analyzers/token-filters/index.md
  _analyzers/token-filters/truncate.md
Labels: 5 - Editorial review, analyzers, backport 2.17, backport 2.18

#8468 add word delimiter graph token filter docs #8454
  _analyzers/token-filters/index.md
  _analyzers/token-filters/word-delimiter-graph.md
Labels: 5 - Editorial review, Content gap, analyzers, backport 2.18

#8473 add kstem token filter docs #8150
  _analyzers/token-filters/index.md
  _analyzers/token-filters/kstem.md
Labels: 5 - Editorial review, Content gap, analyzers, backport 2.18

#8742 adding flatten-graph token filter docs #8060
  _analyzers/token-filters/flatten-graph.md
Labels: 5 - Editorial review, backport 2.18

#8476 add kuromoji_completion token filter docs #8151
  _analyzers/token-filters/index.md
  _analyzers/token-filters/kuromoji-completion.md
Labels: 5 - Editorial review, Content gap, analyzers, backport 2.18

#8823 update aggregate command reference with latest changes
  _benchmark/reference/commands/aggregate.md
Labels: backport 2.18

#8041 Update expression and anomaly detector documentation
  _data-prepper/pipelines/configuration/processors/anomaly-detector.md
  _data-prepper/pipelines/expression-syntax.md
Labels: Needs SME, data-prepper, backport 2.18

#8463 add unique token filter docs #8451
  _analyzers/token-filters/index.md
  _analyzers/token-filters/unique.md
Labels: 5 - Editorial review, analyzers, backport 2.17, backport 2.18

#8863 Update flat-object.md
  _field-types/supported-field-types/flat-object.md
Labels: 4 - Doc review, backport 2.18

#8828 Add migration phases pages
  _migrations/getting-started-data-migration.md
  _migrations/migration-console/accessing-the-migration-console.md
  _migrations/migration-console/index.md
  _migrations/migration-console/migration-console-commands-references.md
  _migrations/migration-phases/assessing-your-cluster-for-migration.md
  _migrations/migration-phases/assessment/index.md
  _migrations/migration-phases/assessment/required-client-changes.md
  _migrations/migration-phases/assessment/understanding-breaking-changes.md
  _migrations/migration-phases/backfill.md
  _migrations/migration-phases/backfill/backfill-execution.md
  _migrations/migration-phases/backfill/backfill-result-validation.md
  _migrations/migration-phases/backfill/capture-proxy-data-replication.md
  _migrations/migration-phases/backfill/index.md
  _migrations/migration-phases/client-traffic-switchover/Switching-Traffic-from-Source-to-Target.md
  _migrations/migration-phases/client-traffic-switchover/index.md
  _migrations/migration-phases/index.md
  _migrations/migration-phases/metadata/Snapshot-Creation.md
  _migrations/migration-phases/metadata/index.md
  _migrations/migration-phases/migrating-metadata.md
  _migrations/migration-phases/post-migration-cleanup/index.md
  _migrations/migration-phases/removing-migration-infrastructure.md
  _migrations/migration-phases/replay-activation-and-validation/In-flight-Validation.md
  _migrations/migration-phases/replay-activation-and-validation/Synchronized-Cluster-Validation.md
  _migrations/migration-phases/replay-activation-and-validation/index.md
  _migrations/migration-phases/setup-verification/Client-Traffic-Switchover-Verification.md
  _migrations/migration-phases/setup-verification/Snapshot-Creation-Verification.md
  _migrations/migration-phases/setup-verification/System-Reset-Before-Migration.md
  _migrations/migration-phases/setup-verification/Traffic-Capture-Verification.md
  _migrations/migration-phases/setup-verification/index.md
  _migrations/migration-phases/switching-traffic-from-the-source-cluster.md
  _migrations/migration-phases/using-traffic-replayer.md
  _migrations/migration-phases/verifying-migration-tools.md
Labels: 5 - Editorial review, migration, backport 2.18

#8868 Add links to tokenizers from index page
  _analyzers/token-filters/index.md
Labels: backport 2.18

#8817 Removing outdated limitations in Searchable Snapshots describing KNN is not compatible.
  _tuning-your-cluster/availability-and-recovery/snapshots/searchable_snapshot.md
Labels: backport 2.18

#8880 Reorder two token filters alphabetically
  _analyzers/token-filters/synonym.md
Labels: backport 2.18

#8883 Make recommendation of word delimiter filter a callout
  _analyzers/token-filters/word-delimiter.md
Labels: backport 2.18

#8878 Fix numbering on Kubernetes page
  _tools/k8s-operator.md
Labels: 4 - Doc review, backport 2.18

#8890 Add link to default field documentation
  _query-dsl/full-text/match-bool-prefix.md
  _query-dsl/full-text/match-phrase.md
  _query-dsl/full-text/match.md
  _query-dsl/full-text/multi-match.md
  _query-dsl/full-text/query-string.md
  _query-dsl/full-text/simple-query-string.md
Labels: backport 2.18

#8649 adding a page in docs for building a custom analyzer
  _analyzers/custom-analyzer.md
  _analyzers/index.md
  _analyzers/normalizers.md
Labels: backport 2.18

#8893 Editorial review of Query Group Lifecycle API
  _tuning-your-cluster/availability-and-recovery/workload-management/query-group-lifecycle-api.md
Labels: 5 - Editorial review, v2.18.0, backport 2.18

#8484 add whitespace tokenizer docs
  _analyzers/tokenizers/index.md
  _analyzers/tokenizers/whitespace.md
Labels: 5 - Editorial review, Needs SME, Content gap, analyzers, backport 2.18

#8489 add thai tokenizer docs
  _analyzers/tokenizers/thai.md
Labels: 5 - Editorial review, Needs SME, Content gap, analyzers, backport 2.18

#8490 add standard tokenizer docs
  _analyzers/tokenizers/standard.md
Labels: 5 - Editorial review, Needs SME, Content gap, analyzers, backport 2.18

#8492 add simple pattern tokenizer docs
  _analyzers/tokenizers/simple-pattern.md
Labels: 5 - Editorial review, Needs SME, Content gap, analyzers, backport 2.18

#8494 add path hierarchy tokenizer docs
  _analyzers/tokenizers/path-hierarchy.md
Labels: 5 - Editorial review, Needs SME, Content gap, analyzers, backport 2.18

#8874 Document the usage of update document API with ingest pipeline
  _api-reference/document-apis/update-document.md
Labels: release-notes, v2.19.0

#8496 add ngram tokenizer docs
  _analyzers/tokenizers/ngram.md
Labels: 5 - Editorial review, Needs SME, Content gap, analyzers, backport 2.18

#8898 Changed the default value of expand for synonym and synonym_graph to true.
  _analyzers/token-filters/synonym-graph.md
  _analyzers/token-filters/synonym.md
Labels: backport 2.18

#8528 Adding standard analyzer docs
  _analyzers/standard.md
Labels: 5 - Editorial review, Needs SME, Content gap, analyzers, backport 2.18

#8531 add whitespace analyzer docs
  _analyzers/whitespace.md
Labels: 5 - Editorial review, Needs SME, Content gap, analyzers, backport 2.18

#8534 add stop analyzer docs
  _analyzers/stop.md
Labels: 5 - Editorial review, Needs SME, Content gap, analyzers, backport 2.18

#8535 add keyword analyzer docs
  _analyzers/keyword.md
Labels: 5 - Editorial review, Needs SME, Content gap, analyzers, backport 2.18

#8536 add pattern analyzer docs
  _analyzers/pattern.md
Labels: 5 - Editorial review, Needs SME, Content gap, analyzers, backport 2.18

#8537 add fingerprint analyzer docs
  _analyzers/fingerprint.md
Labels: 5 - Editorial review, Needs SME, Content gap, analyzers, backport 2.18

#8923 Update transforms-apis.md
  _im-plugin/index-transforms/transforms-apis.md
Labels: 4 - Doc review, backport 2.18

#8895 Additional migration assistant feedback
  _includes/cards.html
  _migration-assistant/deploying-migration-assistant/getting-started-data-migration.md
  _migration-assistant/index.md
  _migration-assistant/migration-console/index.md
  _migration-assistant/migration-phases/index.md
  _migration-assistant/migration-phases/live-traffic-migration/index.md
  _migration-assistant/migration-phases/live-traffic-migration/switching-traffic-from-the-source-cluster.md
  _migration-assistant/migration-phases/live-traffic-migration/using-traffic-replayer.md
  _migration-assistant/migration-phases/planning-your-migration/assessing-your-cluster-for-migration.md
  _migration-assistant/migration-phases/planning-your-migration/index.md
  _migration-assistant/migration-phases/planning-your-migration/verifying-migration-tools.md
Labels: 4 - Doc review, migration, backport 2.18

#8929 Improve wording
  _install-and-configure/plugins.md
Labels: backport 2.18

#8927 Add 1.3.20 to version history
  _about/version-history.md
Labels: backport 1.3, backport 2.0, backport 2.1, backport 2.2, backport 2.3, backport 2.4, backport 2.5, backport 2.6, backport 2.7, backport 2.8, backport 2.9, backport 2.10, backport 2.11, backport 2.12, backport 2.13, backport 2.14, backport 2.15, backport 2.16, backport 2.17, backport 2.18

#8611 Update JDK version for 1.3 distributions
  _install-and-configure/install-opensearch/index.md
Labels: backport 1.3

#8953 Add tuning your cluster automation
  _tuning-your-cluster/availability-and-recovery/workload-management/query-group-lifecycle-api.md
Labels: 4 - Doc review, backport 2.18

#8807 Add expand data corpus instructions
  _benchmark/user-guide/optimizing-benchmarks/expand-data-corpus.md
Labels: 4 - Doc review, benchmark, backport 2.18

#8965 Update GO client versions
  _clients/go.md
Labels: 4 - Doc review, backport 2.18

#8822 Updated documentation on innerHits of nested k-NN field
  _search-plugins/knn/nested-search-knn.md
Labels: release-notes, v2.19.0

#8971 Use `https` for requests
  _getting-started/communicate.md
Labels: backport 2.18

#8825 Add public doc for scheduler
  _dashboards/management/accelerate-external-data.md
  _dashboards/management/scheduled-query-acceleration.md
Labels: backport 2.17, backport 2.18

#8930 Add automation for first two CAT APIs
  _api-reference/cat/cat-aliases.md
  _api-reference/cat/cat-allocation.md
  _api-reference/cat/cat-cluster_manager.md
Labels: 4 - Doc review, backport 2.18

#8977 Update docker.md to include custom admin password requirement
  _install-and-configure/install-opensearch/docker.md
Labels: backport 2.18

#8987 Update docs on how to connect with Amazon OpenSearch Service via HTTP.
  _clients/python-low-level.md
Labels: backport 2.18
